/* Section Styling */
.section {
    /* background: linear-gradient(to right, #0d0b53, #2d1c91); */
    /* Background gradient */
    /* padding: 20px; */
    margin: 30px 0px;
   
}

/* Buttons */
.buttons {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #6e4ef5;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn-primary span {
    margin-left: 8px;
    font-size: 1.2rem;
}

.btn-primary:hover {
    transform: translateY(-2px);
}

.btn-secondary {
    background-color: transparent;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding: 12px 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    margin-left: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Trustpilot Section */
.trustpilot {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.trustpilot img.stars {
    width: 80px;
    /* Adjust size as per the design */
    margin: 0 8px;
    vertical-align: middle;
}

.trustpilot img.trustpilot-logo {
    width: 20px;
    /* Adjust size */
    margin-left: 5px;
    vertical-align: middle;
}

.feature-container {
    display: flex;
padding: 20px 0px;   gap: 60px;
}

@media (max-width: 600px) {
    .feature-container {
        display: flex;
       gap: 0px !important;
        overflow-x: auto;
    }

    .feature-item {
        width: 130px;
        /* Reduce width for better fit */
        flex-shrink: 0;
    }

    
}

@media (max-width: 600px) {

    /* Adjust Section padding and margin */
    .section {
       
        margin: 20px 0px;
    }

    .buttons {
        flex-direction: row;
        gap: 10px;
        width: 100%;
        justify-content: space-between;
    }

    .btn-primary,
    .btn-secondary {
        width: 100%;
        /* 100% width for both buttons */
        padding: 20px;
    }

    .trustpilot {
        flex-direction: column;
        text-align: center;
    }

    .trustpilot img.stars {
        width: 70px;
        /* Adjust stars for smaller screens */
    }

        .btn-secondary{
            margin-left: 0px !important;
           
        }
                 .btn-primary {
                    margin-bottom: 20px;
                 }

}

@media (max-width: 600px) {
    .trustpilot span {
        display: none;
        /* Hide text */
    }

    .trustpilot img.trustpilot-logo {
        display: none;
        /* Hide the Trustpilot logo */
    }

    .trustpilot {
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 10px;
    }
}